/* NavBar styles */

.logoLink {
  color: white;
}
.navBlock {
  color: white;
  margin-left: auto;
}
.btnNav {
  margin-left: 20px;
}

/* Auth page */

.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.authCard {
  width: 450px;
  padding: 20px;
}
.authFormTitle {
  margin: auto;
}
.authForm {
  display: flex;
  flex-direction: column;
}
.authFormControl {
  margin-top: 10px;
}

.authRow {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
/* Brand Bar */
.brandBarCard {
  cursor: pointer;
  padding: 15px;
  align-items: center;
}
/* Device Item */

.deviceItemCard {
  cursor: pointer;
  width: 150px;
}
